APP_NAME=Orchestrator
# PYTHON_EXE=
# SENDER_EMAIL=voce@exemplo.com
# RECIPIENTS=["a@exemplo.com","b@exemplo.com"]
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=voce@exemplo.com
# SMTP_PASSWORD=senha_de_app