APP_NAME=Orchestrator
# PYTHON_EXE=

# email
# SENDER_EMAIL=you@example.com
# RECIPIENTS=["a@example.com","b@example.com"]
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=you@example.com
# SMTP_PASSWORD=your_app_password
# EMAIL_ON_SUCCESS=true

# scheduler
# TASK_NAME_PREFIX=QuantyAutomations
# SCHEDULE_TIMES=["09:00","13:00"]
# SCHEDULE_DAILY=true   # true = every day, false = mon-fri only